*{
  box-sizing: border-box;
}
html{
  box-sizing: border-box;
  margin:0;
  padding: 7px 30px 0px 30px;
  font-family:Comic Sans MS;
 /* overflow-x: hidden;*/
  /*overflow-y: hidden;*/
  /*width:100vw;*/
  /*height:100vh;*/
 /* background:linear-gradient(rgba(173, 216, 230, .4), rgba(0, 0, 128, .8)),url('../Pics/coder_Image.png') ;*/
  /*object-fit: contain;*/
  text-align: center;
  /*color:#fcf5e5; */
  background-color: #f5fefd;
}
body{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#gen_container{
  width:60.0vw ;
  height: 45vh;
  border: 15px solid #fff;
  padding:15px;
  display: flex;
  flex-direction:column;
  justify-content: flex-end;
  border-radius:30px;
  box-shadow:1px 1px 7px 1px gray;
  /*background-image: linear-gradient(to bottom,white, black),*/
  background-image: linear-gradient(to bottom, rgba(255, 255, 255,.1) 25%, rgba(0, 0, 0, .76) 100%),url('./Pics/profile_pics_6.png');
  background-size: 100% 100%;
  color:white;
  text-align: center;
}
/* First Part */
#first-part{
  display: flex;
  flex-direction: row;
  margin-bottom:10px;
  gap:0px;
  justify-content: flex-start;
  padding: 0px;
}
#first-part p{
  font-weight: bold;
  font-size: 21px;
  margin:0px 8px 0px 0px;
}
#first-part i{
  border-radius:50%;
  color:blue;
  margin:auto;
  border: 0px;
  outline: none;
  font-size: 19px;
  margin-left:0px;
}


/*Second Part*/
#second-part{
  text-align: left;
  font-size:14px;
  color: #fcfbfc;
  opacity:0.9;
  /*border: 1px solid white;*/
  margin:0px 0px 10px 0px;
}
/*Third-Part*/
#third-part{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
/*  border:1px solid blue;*/
  padding: 0px;
  margin:0px 0px 10px 0px;
}
#third-part li{
  display: flex;
  flex-direction: column;
 /* border:1px solid yellow;*/
  padding: 0px;
}
#third-part li p{
/*  border:1px solid violet;*/
  margin:0px;
}
#third-part li p:first-of-type{
  font-weight:bold;
  font-size:18px;
  margin-bottom:3px;
}
#third-part li p:last-of-type{
  text-align: center;
  font-size:14px;
  color: #fcfbfc;
  opacity:0.9;
}
#third-part li p i{
  color:gold;
  margin-right:1px;
}
.empty-li-1, .empty-li-2{
  border-right:1px solid gray;
  height: 100%;
}
/*last-part*/
#last-part{
  width:100%;
  height:fit-content;
  padding:0px;
  text-align: center;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.normal{
  width: 70%;
  height: 35px;
  margin-right:5px;
  border-radius:25px;
  border:none;
  box-shadow: 1px 1px 1px 1px white;
  font-weight:bold;
  font-size:18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

}
.normal i, .normal p{
  margin:auto;
};
#button i{
  margin-top:-30px;
  border: 1px solid green;
  width: 35px;
  height: 35px;
}
.normal p{
  margin-left: -20px;
}
.button_2{
border:1px solid black;
background:grey;
color:white;
box-Shadow: 0px 0px 0px 0px black;
}

.fa-bookmark{
  font-size:24px;
  color: #fff;
  font-weight:bold;
  opacity:1;
  width:25%;
  padding: 7px 0px 0px 0px;
  height: fit-content;
  border:1px solid grey;
  height:37px;
  text-align: center;
  border-radius:16px;
  background: linear-gradient(to bottom,rgba(255, 255, 255, .25) 15.0%, rgba(60, 60, 60, 1) 100%);
  transition:.1s ease-in-out ;
}
.bookmark_2{
  color :gray;
/* alert("Bookmarked");*/
 border :1px solid white;
 background:black;
}
